.group-8040 {
  align-items: center;
  display: flex;
  height: 18px;
  justify-content: flex-end;
  margin-left: 22px;
  margin-top: 6px;
  min-width: 201px;
  padding: 0 2px;
}

.frame-3335-1 {
  height: 1px;
  margin-bottom: 2.67px;
  width: 1px;
}

.text-3 {
  letter-spacing: 0.12px;
  line-height: 18px;
  margin-left: 10px;
  min-height: 18px;
  min-width: 183px;
  white-space: nowrap;
}

