.group-7233 {
  align-items: center;
  display: flex;
  height: 29px;
  justify-content: flex-end;
  margin-left: 23px;
  margin-top: 37px;
  min-width: 202px;
  padding: 0 2px;
}

.layer-2 {
  height: 1px;
  margin-bottom: 3.98px;
  width: 1px;
}

.designer-suite {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 43px;
  min-height: 20px;
  min-width: 117px;
}

